{{template "base" .}}

{{define "title"}} Let's Vote! Voting List Page {{end}}

{{define "main"}}

<div class="text-center p-2 from-navbar-margin">
    <h2>Here is the list of people who also say {{.ResultAnswer}} in our voting.</h2>
    <table class="table table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            {{$fv := .FilterValue}}
            {{ range .Results }}
            {{ if (eq .Vote $fv)}}
            <tr>
                <td>{{ .FirstName }} {{ .LastName}}</td>
                <td>{{ .Email }}</td>
                <td>{{ .Phone }}</td>
            </tr>
            {{ end }}
            {{ end }}
        </tbody>
    </table>
</div>

{{ end }}