{{template "base" .}}

{{define "title"}} {{.Data.Title}} {{end}}

{{define "main"}}

<div class="text-center">
    <!-- <h1 class="text-primary"> {{.Data.Header}} </h1> -->
    <h1 class="text-primary"> Markdown Home Page </h1>
    <hr>
    <div class="container">
        <h2 class="text-primary"> Some local md content </h2>
        <div class="text-start">
            {{ index .Contents "MainContent" }}
        </div>
    </div>
    <hr>
    <div class="container ">
        <h2 class="text-primary"> Some internet content </h2>
        <div class="text-start">
            {{ index .Contents "HttpContent" }}
        </div>
    </div>

</div>

{{end}}