{{template "base" .}}

{{define "title"}} {{.Data.Title}} {{end}}

{{define "main"}}

<div class="text-center from-navbar-margin">
    <h1 class="text-primary"> {{.Data.Header}} </h1>
    <!-- <h2 class="text-danger border border-dark rounded p-3"> {{.Data.Title}}</h2> -->
    <h3 class="text-danger border border-dark rounded p-3"> {{.Data.MainText}}</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente facilis autem, ipsum, maxime numquam eos
        dolores accusantium temporibus debitis corrupti iusto repellendus quae sint rem quibusdam! Non quibusdam facere
        eius.</p>
    <a class="btn btn-primary" href="/login" style="width: 30%">
        Log In
    </a>
</div>

{{end}}